---
# Front matter is required
---

// 1. Import the theme's core variables and mixins
@import "minimal-mistakes/setup";

// 2. Define your custom variables BEFORE the skin/style import
$primary-color: #64e8ba;
$action-color:  #219b71;
$text-color:    #f1efef;

// 3. Import the skin and main styles
@import "minimal-mistakes/skins/neon"; 
@import "minimal-mistakes";

/* Custom Tweaks */
a {
  color: $primary-color !important;
}

.btn--primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}
/* Adjusting global text color */
body {
  color: $text-color;
}
